# Dependencias de Node
node_modules/
npm-debug.log
yarn-error.log

# Archivos de entorno y configuración sensible
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Salidas de compilación o logs
dist/
build/
logs/
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de editor o IDE
.vscode/
.idea/
*.swp

# Archivos de cobertura de tests
coverage/

# Archivos de Render u otros servicios
.render/
.vercel/
